@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-nunito-sans: "Nunito Sans", sans-serif;
  --font-roboto: "Roboto Mono", monospace;



  --color-background: #0B0F1A;
  --color-surface: #121826;
  --color-accent-green: #00D395;
  --color-accent-blue: #1E90FF;
  --color-text-primary: #E5E7EB;
  --color-text-secondary: #9CA3AF;
  --color-border: #1F2937;
  --color-error: #F87171;
  --color-success: #22C55E;
}
